/* @value tokens: "./tokens.module.css"; */
/* @value fontSizeMedium, notblack, solight,background,colorPrimary, spacer1, spacer2 from tokens; */

.button {
  border: 0.1rem solid #102146;
  padding: 0 2rem;
  border-radius: 10rem;
  /* font-size: fontSizeMedium; */
  color: #102146;
  /* background-color: solight; */
}

/* .button:hover {
  background-color: background;
} */

/* .button:active {
  background-color: colorPrimary;
} */

/* .label {
  display: flex;
  align-items: baseline;
  font-size: fontSizeMedium;
  margin-bottom: spacer1;
} */
/* 
.input {
  width: 100%;
  border: none;
  border-radius: spacer2;
  font-size: fontSizeMedium;
  color: notblack;
  padding: spacer1;
} */
