.h1 {
  font-family: sirenne-text-mvb, serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2.8rem;
  line-height: 3rem;
}

.h2 {
  font-family: sirenne-text-mvb, serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.4rem;
}

.h3 {
  font-family: sirenne-text-mvb, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.h4 {
  font-family: sirenne-text-mvb, serif;
  font-weight: 700;
  font-style: bold;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.t1 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.t2 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.t3 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.postit_wrapper {
  transform: rotate(-6deg);
}

.postit_wrapper_end {
  transform: rotate(-6deg);
  min-width: 20rem;
  margin-left: 10rem;
}

.postit__title {
  color: #102146;
  composes: h1;
}
.postit__steps {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.4rem;
  display: flex;
  flex-flow: column;
  max-width: 26rem;
  padding-top: 2rem;
  width: 90%;
  composes: t1;
}

.postit__step {
  padding-bottom: 1rem;
}
.postit__background {
  position: absolute;
  top: 0;
  z-index: -50;
  margin-left: -4rem;
  margin-top: -2rem;
}
